/**
 * Body CSS
 */

html,
body {
    height: 100%;
}

html,
body,
input,
textarea,
buttons {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

body {
    background-color: #e57373;
    margin: 0;
}

a.nostyle {
    color: #fff;
    text-decoration: none;
}

a.nostyle:hover {
    color: #2196F3;
}

/**
 * Sidebar CSS
 */

.sidebar {
    background-color: #E57373;
    padding: 15px;
}

.sidebar__bottom {
    position: absolute;
    bottom: 50px;
}

.di {
    display: inline;
}

.service_block {
    background-color: rgba(255, 255, 255, 0.40);
    border-radius: 8px;
    overflow: hidden;
}

@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
        width: 199px;
        height: 100%;
        padding-top: 30px;
    }
}

.content {
    height: 100%;
    color: #fff;
    background: url(../img/background.jpg) no-repeat;
    background-size: cover;
    background-position-x: 20px;
    background-color: #ececec;
    font-size: 1.15em;
}

.content__row {
    background-color: rgba(0, 0, 0, 0.88);
    height: 100%;
    overflow-y: scroll;
}

.hashtag {
    color: #2196F3;
    margin-bottom: 0;
}

.services__wrap {
    transition: transform .235s cubic-bezier(0.0, 0.0, 0.2, 1), opacity linear .15s;
}

.services__wrap:hover {
    transform: translateZ(0px) scale3d(1.08, 1.08, 1);
}

.toramp-gallery img {
    width: 60%;
}

/**
 * Content CSS
 */
@media (min-width: 768px) {
    .content {
        margin-left: 199px;
    }

    .toramp-gallery img {
        width: 80%;
    }
}

@media (max-width: 768px) {
    .sidebar__bottom {
        display: inline-block;
        float: right;
        margin-top: 24px;
        top:0;
    }
    .sidebar {
        position: absolute;
        width: 100%;
    }
    .content {
        padding-top: 64px;
    }

    .header_text {
        display: inline-block;
    }

    .mui-container-fluid {
        padding-right: 0;
    }

    .toramp-gallery img {
        width: 100%;
    }
}

@media (max-width: 991px) {
    .services__wrap:nth-child(3), .services__wrap:nth-child(4) {
        margin-top: 40px;
    }

    .toramp-gallery img {
        width: 90%;
    }
}
