html,
body {
    height: 100%;
}

html {
    height: 100%;
    min-height: 100%;
    background: url(img/background_black.jpg) no-repeat center center fixed;
    background-position-x: 20px;
    background-color: rgba(0, 0, 0, 0.88);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    background-color: rgba(0, 0, 0, 0);
    margin: 0;
    color: #fff;
    min-height: 100%;
}


.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.content {
    margin-left: 240px;
}

@media (max-width: 960px) {
    .content {
        margin-left: 24px;
    }

    .header-images-wrapper {
        flex-wrap: wrap;
    }
}


@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css);

.button-container {
    z-index: 9999;
    position: fixed;
    left: 50%;
    margin-left: -30px;
    bottom: 24px;
    display: flex;
}

.button-menu {
    background: #6047ec;
    border-radius: 1000px;
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.button-child {
    position: absolute;
    background: white;
    border-radius: 1000px;
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.child-button-icon {
    color: grey;
}

.main-button-icon {
    color: white;
}

.grayscaled {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.active-link .active-link-icon {
    color: #f50057 !important;
}

.active-link .active-link-text span {
    color: #f50057 !important;
}